*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.blog {
    top: 200px;
    background-color: black;
    color: antiquewhite;
}
.dev {
    top: 140px;
    background-color: black;
    color: antiquewhite;
}
.home {
    top: 20px;
    background-color:black;
    color: antiquewhite;
}
.art {
    top: 80px;
    background-color: black;
    color: antiquewhite;
}
.about{
    top: 260px;
    background-color: black;
    color: antiquewhite;
}
.buttons{
   padding: 15px 25px;
   font-size: 24px;
   text-align: center;
   cursor: crosshair;
   outline: none;
   color:antiquewhite;
   background-color: black;
   border: none;
   border-radius: 1rem;
   box-shadow: 0 9px #999;
}
.buttons:hover{
    background-color: slategrey;
}
.buttons:active{
    background-color: antiquewhite;
    box-shadow: 0 5px #666;
    transform: translateY(5px)
}
.checkbox-container {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
  }

.clearfix{
    clear:both;
    content: '';
    display: block;
}
.clearfix::after{
    clear:both;
    content: '';
    display: block;
}
.content{
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 1000px;
  }
.container{
    margin: .6rem;
    margin-right: 2%;
    display: grid;
    padding: 1rem;
    width:35%;
}

figure{
    margin: 0;
    position: relative;
}
figure img{
    width:100%
}
.foot{
    display: inline-block;
    text-align:center;
    padding: 1rem;
    width: 100%;
    line-height: 30px;
    margin: 2rem;
    
  }
/*.grid-item{
    border: solid 1px black;
    color: black;
    padding: 30px;

}
*/
.home {
    top: 20px;
    background-color:black;
    color: antiquewhite;
}
h2, h3, h4{
    text-align: center;
}
.art {
    top: 80px;
    background-color: black;
    color: antiquewhite;
}
.dev {
    top: 140px;
    background-color: black;
    color: antiquewhite;
}
.blog {
    top: 200px;
    background-color: black;
    color: antiquewhite;
}
.about{
    top: 260px;
    background-color: black;
    color: antiquewhite;
}
header h1{
    float: right;
    padding-right: 1rem;
}
header nav{
    float: left;
    padding-left: 1rem;
}
header nav ul li{
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
.header-title{
    text-align: center;
}
.help{
    padding: 2rem;
    text-align: center;
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 30rem;
}
.innerContainer{
    margin-left: .5rem;
    float: right;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 18rem;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#mySidenav {
    position: absolute;
    left: 0px;
    top:107px;
    width: 200px;
}
#mySidenav ul{
    margin-left:-25px;
    
}
#mySidenav li {
    display: block;
}
#mySidenav a{
    display: block;
    transition: 0.3s;
    padding: 15px;   
    text-decoration: none; 
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 6px #999;
    font-size: 20px; 
    color: white; 
}
#mySidenav a:hover {
    transition: 1s;
    left: 25px;
}
.mySlides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 2rem 0;
    width:auto;
    height: 400px;
    
}
.mainContainer{
    padding:2px;
    margin:0px;
    border-radius: 1rem;
}
#modal-screen{
    display: none;
    position: fixed;
    width: 75vw;
    height: 75vw;
    background-color: black;
    opacity: 0.8;
    top: 20rem;
    left:10rem;
    justify-content: center;
    align-items: center;
}
body.modal-open #modal-screen{
    display: flex;
}
#modal-box{
    color:black;
    background: white;
    width: 60vw;
    margin: 4rem auto 4rem auto;
    padding: 2rem 2rem 0 2rem;
}
.para{
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:15%;
    padding-right: 15%;
  }
.para2{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left:10%;
    padding-right: 10%;
  }

.poop{
    display:grid;
    margin:2rem auto 2rem auto;
    width:1000px;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.pump{
    padding: 1rem;
    text-decoration: none;
  }

ol{
    list-style: none;
    text-align: center;
    padding-bottom: 2rem;
    padding-top:2rem;
}
.skill-container{
    margin: 3rem 0;
}
.skill-container article{
    float:left;
    margin-right: 2%;
    padding: 1rem;
    width: 30%;
}
.skill-container article:last-child{
    margin-right: 0;
}
.title{
    display: block;
    width: 100%;
    text-align:center;
    word-wrap: break-word;
    margin: 0;
    padding: 1rem;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}