*{
    box-sizing: border-box;
    padding: 10;
    margin: 10;
}

header h1{
    text-align: center;
    padding-right: 1rem;
}
header nav{
    float: left;
    padding-left: 1rem;
}
header nav ul li{
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
.clearfix::after{
    clear:both;
    content: '';
    display: block;
}
main div section h4{
    font-size: 28px;
}

main div section p{
    float: right;
    font-size: 18px;
    border-style: hidden;
    border-radius: 10px 70px 10px 70px;
    background-color: black;
    color:whitesmoke;
    align-content: center;
    text-align: center;
}
.cartographyContainer{
    text-align: center;
    border-style: hidden;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(122, 122, 223);
    box-shadow: 3px 3px 0 0;
   
}
.imagestylecart{
    border-style: hidden;
    border-radius:10px 10px 10px 10px;
    max-width: 400px;
    max-height: 300px;
    width: 40%;
    height: auto;
    float:left;
}
.insideContainers{
    
    border-style: hidden;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(142, 12, 123);
    box-shadow: 3px 3px 0 0;
    float: left;
}
.highlights {
	margin: 3rem 0;
}
.highlights article {
	float: left;
	margin-right: 2%;
	padding: 1rem;
	width: 32%;
}
.highlights article:last-child {
	margin-right: 0;
}
footer {
    display: inline-block;
}
footer span a{
    display: block;
    
}

