*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;  
    
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.innerContainer{
  margin-left: .5rem;
  float: right;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 18rem;
}

.clearfix::after{
    clear:both;
    content: '';
    display: block;
}
.mainContainer{
  padding:2px;
  margin:0px;
  background:grey;
  border-radius: 1rem;
  
}

.container{
  border: 1px solid black;
  border-radius: 1rem;
  margin: .5rem;
  margin-right: 2%;
  display: grid;
  padding: 1rem;
  float: left;
  background-color: white;
  width:35%;
}
.containerTwo{
  border: 1px solid black;
  border-radius: 1rem;
  margin: .5rem;
  margin-right: 2%;
  display: grid;
  padding: 1rem;
  float: right;
  width:55%;
  background-color: white;
}
.highlights{
  margin: 2rem 0;
}
.highlights section{
  float:left;
  margin-right: 2%;
  width:38%;
  padding: .5rem;
}
.highlights div:last-child{
  
  margin-right: 0;
  
}
figure{
  margin: 0;
  position: relative;
}
figure img{
  width:100%
}

.images{
  width: 20%;
  height: auto;
}
.textContainer{
  background:grey;
  float: right;
	margin-right: 2%;
	padding: 1rem;
	width: 32%;
}
.aboutme {
  border-style: solid;
  border-width: 2px;
  text-align: center;
  border-color: indigo;
  background-color: rgb(18, 236, 116);
  border-radius: 0 5px 0 50px;
  float: left;
  
}