.title{
    text-align:left;
    border: solid 1px black;
    background-color: black;
    color:white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.foot{
    text-align:center;
    border: solid 1px black;
    background-color: black;
    color:white;
    width: 100%;
    margin: 0;
    padding: 0;
}
a:link, a:visited{
    color:white;
}
a:hover, a:active{
    color:darkgrey;
    text-decoration:underline;
    background-color: grey;
}
.para{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:15%;
    padding-right: 15%;
    text-decoration: none;
}